<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Registro Clientes</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Registro Cliente</h1>
	
	
	<form method="post" >
		<div class="form-group">
		<label for= "inputcodigo">Id Cliente</label>
		<input>	
		</div>
		
		<div class="form-group">
		<label for= "inputcodigo">Nombre</label>
		<input>	
		</div>
		
		
		<div class="form-group">
		<label for= "inputcodigo">Id area</label>
		<select name="select">
        <option value="1">Limpieza</option>
        <option value="2" selected>Seguridad</option>
        <option value="3">Mantenimiento</option>
        </select>
		</div>
		
		<div class="form-group">
		<label for= "inputcodigo">Telefono</label>
		<input>	
		</div>
		
		<div class="form-group">
		<label for= "inputcodigo">Email</label>
		<input>	
		</div>
		
		<div class="form-group">
		<label for= "inputcodigo">Direccion</label>
		<input>	
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</form>
	

</body>
</html>